.box {
    height: 100px;
    width: 300px;
    margin-top: 5px;
    background-color: #95B46A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #172815;
}

.paragraph {
    background-color: blue;
    color: blueviolet;
    font-size: 30px;
}

.paragraph-upd1 {
    background-color: black;
    text-decoration: underline;
}