body {
    text-align: center;
}

div {
    height: 100px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
}

#container {
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-content: flex-start; */
}

#box1 {
    background-color: aqua;
    font-size: 30px;
}

#box2 {
    background-color: pink;
    height: 50px;
    font-size: 10px;
    /* align-self: flex-end; */
}

#box3 {
    background-color: darkkhaki;
    height: 200px;
    font-size: 20px;
    flex-shrink: 3;
}

#box4 {
    background-color: indianred;
    /* align-self: flex-start; */
}

#box5 {
    background-color: slateblue;
    font-size: 40px;
    flex-shrink: 0;
}