#nav-bar {
    height: 40px;
    background-color: pink;
    margin-bottom: 30px;
}

ul{
    display: flex;
    justify-content: space-between;
    color: white;
}

a {
    color: blueviolet;
    text-decoration: none;
}

.opt {
    display: inline;
}

#outer {
    height: 300px;
    width: 300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

#inner {
    height: 150px;
    width: 150px;
    background-color: indigo;
}
